@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque&family=Passion+One:wght@700&display=swap');

*{
    text-decoration: none;
}
h2,.glitch span, .Titre .glitch span, a{
    font-family: 'Passion One', cursive;
    text-decoration: none;
}
/************************/
/******NavBar************/




/***********************/
/**Glitch title Effect**/
/***********************/


/*****For big title*****/
.Titre h2 {
    font-size: 8em;

    position: relative;
    display: flex;
    justify-content: center;
    top: 130px;
    z-index: 2;
    animation: flicker 1.5s infinite alternate;
}
.Titre .glitch span{
    top: 130px;
    z-index: 3;
}
.Titre{
    height: 330px;
    text-align: center;
    position: relative;
    background: linear-gradient(95deg, #131317,#0B0B0A);
    z-index: -1;
    opacity: 95%;
    margin-bottom: 60px;
    border-bottom: thick double #1e1e26;
}

/********************************/
/*Image artists dans les bulles*/
/******************************/
.container .box .artist img  {
    width: 57%;
    margin-top: -25px;
    margin-bottom: 20px;
    border-radius: 50%;
    border: thick double #702220;
    box-shadow: 0.25em 0.25em 10px #441A17, -0.5em -0.5em 15px black;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    flex-wrap: wrap;
}

.container .box{
    position: relative;
    display: flex;
    min-width: 340px;
    height: 260px;
    margin: 30px 30px;
    transition: 0.5s;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background: linear-gradient(95deg, #131317,#0B0B0A);
    border-radius: 1px;
    opacity: 95%;
    box-shadow: 0.5em 0.5em 10px #441A17, -0.5em -0.5em 10px black;
    border-style: inset;
}
/***Make the background (box) rotate ***/
@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}

/*** Make it higher ***/
.box:hover{
    transform: translateY(-15px);
    border-style: outset;
}
/**Fit the content inside the box+Background**/
.box::before {
    content: "";
    min-width: 100%;
    height: 100%;
    border-radius: 1px;
    background-image: linear-gradient(
            var(--rotate)
            , #FFFFFF, #702220 43%, #1e1e26);
    position: absolute;
    z-index: -1;
    animation: spin 2.5s linear infinite;
    border-style: inset;
}

/*Effect screen background*/
@keyframes spin {
    0% {
        --rotate: 0deg;
    }
    100% {
        --rotate: 360deg;
    }
}

/************the grey box***********/
.box::after {
    position: absolute;
    top: -15px;
    content: "";
    z-index: -1;
    height: 287px;
    width: 387px;
    transform: scale(0.8);
    background: linear-gradient(95deg, #0B0B0A,black);
    opacity: 95%;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
    border-style: outset;
    box-shadow: 0.3em 0.3em 10px #441A17, -0.3em -0.3em 10px black;
}



/**Glitch title Effect**/

.glitch {
    font-size: 1.3em;
}

/*Glitch EFFECT*/
@keyframes glitch {
    0%,14%{
        text-shadow: 0.05em 0 0 #441A17,
        -0.05em -0.025em 0 white,
        -0.025em 0.05em 0 #702220;
    }
    15%,49%{
        text-shadow: -0.05em -0.025em 0 #441A17,
        0.025em 0.025em 0 white,
        -0.05em -0.05em 0 #702220;
    }
    50%,99%{
        text-shadow: 0.025em 0.05em 0 #441A17,
        0.05em 0 0 white,
        0em -0.05em 0 #702220;
    }
    100%{
        text-shadow: -0.025em 0 0 #441A17,
        -0.025em -0.025em 0 white,
        -0.025em -0.05em 0 #702220;
    }

}

/*************BUTTONS***********/

.moreInfo a {
    position: absolute;
    left: 20%;
    text-align: center;
    line-height: 25px;
    bottom: 50px;
    width: 60%;
    height: 25px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1em;
    background: linear-gradient(130deg, #131317, #333942);
    border-radius: 25px;
    opacity: 95%;
    box-shadow: 0.25em 0.25em 10px #441A17, -0.5em -0.5em 15px black;
    border: 1px #FFFF solid;
    font-weight: bold;
}

.moreInfo a:hover{
    background: linear-gradient(130deg, #131317, #702220);
}

/*END BUTTON*/


/************************/
/***********Footer*****/

.end {  display: grid;
    padding: 15px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.1fr 0.3fr;
    gap: 20px 30px;
    grid-auto-flow: row;
    grid-template-areas:
    "AboutUs Work Website"
    "Line Line Line"
    "YNOV-CAMPUS YNOV-CAMPUS Link";
    background-color: #131317;
    color: #9DA6B3;
    text-decoration: none;
}

.Link {  display: grid;
    grid-template-columns: 0.2fr 0.2fr 0.2fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "Web Youtube Instagram";
    grid-area: Link;
}
.linkpicture{
    width: 45%;
    background-image: linear-gradient(#441A17, #702220 43%,#E02C2C);
    box-shadow: 0.05em 0.05em 5px #333942, -0.05em -0.05em 5px #441A17;
    border: 1px inset  #702220;    border-radius: 50%;    margin: auto;}

.linkpicture:hover{    border: 1px inset  #E02C2C;
    background-image: linear-gradient(#702220,#E02C2C);}

.Web { grid-area: Web; }
.Youtube { grid-area: Youtube; }
.Instagram { grid-area: Instagram; }
.Line { grid-area: Line; }
.YNOV-CAMPUS { grid-area: YNOV-CAMPUS; }
.YNOV-CAMPUS h2{
    padding: 5px;
    font-size: 2vw;
    animation: pulsate 2.5s infinite alternate;
}
.AboutUs { grid-area: AboutUs; }
.Work { grid-area: Work; }
.Website { grid-area: Website; }
