<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/artist.css">
    <title>Artists</title>
</head>
<!--Block Body-->
<body>
<section class="Titre">
    <div class="Bubble">
        <h2 class="glitch"><span aria-hidden="true">Artiste</span>Artiste<span aria-hidden="true">Artiste</span></h2>
        <div class="triangle"></div>
    </div>

</section>

<!--Artist Card With Infomations-->
<div id="artistContainer" class="container">
    {{range .}}
        <div class="box">
            <img class="image" src={{.Image}} alt="artist">
            <div class="content">
                <h2 class="glitch"><span aria-hidden="true"><span aria-hidden="true">{{.Name}}</span>{{.Name}}</span>{{.Name}}</h2>
                <p> {{.CreationDate}} </p>
                <div class="membres">
                    {{range .Members}}
                            <span>{{.}}</span>
                    {{end}}
                </div>
            </div>
            <div class="moreInfo">
                <a>en savoir+ </a>
            </div>
        </div>
    {{end}}
</div>
</body>
</html>
