<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../css/Style.css">
    <link rel="stylesheet" type="text/css" href="../css/navbar.css">
    <link rel="stylesheet" type="text/css" href="../css/error.css">
    <link rel="icon" type="image/x-icon" href="/img/favicon1.ico">
    <title>Groupie Tracker</title>
</head>

<body>

<section id="error">
    <div class="container">
        <footer>
            <hr>
            <div class="end">
                <div class="Link">
                    <div class="Web">
                        <a href="https://ynov-toulouse.com/"><img class="linkpicture" src="/img/website.png"></a>
                    </div>
                    <div class="Youtube">
                        <a href="https://www.youtube.com/channel/UC6AwIUywUQu9tBOhAjd1jtQ"><img class="linkpicture" src="/img/youtube.png"></a>
                    </div>
                    <div class="Instagram">
                        <a href="https://www.instagram.com/toulouse_ynovcampus/"><img class="linkpicture" src="/img/instagram.png"></a>
                    </div>
                </div>
                <div class="Line"><hr></div>
                <div class="YNOV-CAMPUS"><a href="https://ynov-toulouse.com/"><h2>Ynov<span style="font-size: 16px;">Campus</span> TOULOUSE</h2></a></div>
                <div class="AboutUs">
                    <h2>About US</h2>
                    <p>Justine SEGUIN LE BOULANGER</p>
                    <p>Vanessa TESSIER</p>
                    <p>Bachelor 1 Informatique</p>
                </div>
                <div class="Work">
                    <h2>Work</h2>
                    <a href="https://ytrack.learn.ynov.com/intra/toulouse/module-tls/groupie-tracker">Project Display</a><br>
                    <a href="https://groupietrackers.herokuapp.com/api">Groupie-Trackers API</a><br>
                    <a href="https://trello.com/b/XAUiyFZM/groupie-tracker">TRELLO</a>
                </div>
                <div class="Website">
                    <h2>Index</h2>
                    <a href="/Index">Index</a><br>
                    <a style="color: #FFFFFF" href="/Artist">AllArtist</a><br>
                    <p>RandomArtistPage</p>
                </div>
            </div>
        </footer>        <h1><a>back to</a></h1>
        <h1><a class="actif" href="/">Groupie Tracker</a></h1>

    </div>
</section>

</body>

</html>
