<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../css/Style.css">
    <link rel="stylesheet" type="text/css" href="../css/navbar.css">
    <link rel="stylesheet" type="text/css" href="../css/error.css">
    <link rel="icon" type="image/x-icon" href="/img/favicon1.ico">
    <title>Groupie Tracker</title>
</head>

<body>

<section id="error">
    <div class="container">
        <h1 class="title">No Matching, sorry!<br>
            <br>
        <a href="/" >Groupie Tracker</a>
        </h1>
    </div>
</section>

</body>
<div class="footer">
    <hr>
    <div class="end">
        <div class="Link">
            <div class="Web">
                <img class="linkpicture" src="/img/website.png">
            </div>
            <div class="Youtube">
                <img class="linkpicture" src="/img/youtube.png">
            </div>
            <div class="Instagram">
                <img class="linkpicture" src="/img/instagram.png">
            </div>
        </div>
        <div class="Line">
            <hr>
        </div>
        <div class="YNOV-CAMPUS"><h2 class="">Ynov<span style="font-size: 16px;">Campus</span> TOULOUSE</h2></div>
        <div class="AboutUs">
            <h2>About US</h2>
            <p>Justine SEGUIN LE BOULANGER</p>
            <p>Vanessa TESSIER</p>
            <p>Bachelor 1 Informatique</p>
        </div>
        <div class="Work">
            <h2>Work</h2>
            <p>API Herokuapp</p>
            <p>Trello</p>
        </div>
        <div class="Website">
            <h2>Index</h2>
            <p>AllArtist</p>
        </div>
    </div>
</div>
</html>
</html>