<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/FullArtist.css">
    <link rel="stylesheet" type="text/css" href="../css/Style.css">
    <link rel="stylesheet" type="text/css" href="../css/navbar.css">
    <link rel="stylesheet" type="text/css" href="../css/Filters.css">
    <link rel="icon" type="image/x-icon" href="/img/favicon1.ico">
    <link href='https://fonts.googleapis.com/css2?family=Darker+Grotesque&family=Passion+One:wght@700&display=swap'/>

    <title>Artists</title>

</head>
<!--Block Body-->
<body>

<nav class="topnav">
    <form class="search-container" method="GET" action="{{.LinkUrl}}">
        <input type="text" id="myInput" name="search" onkeyup="myFunction()" placeholder="Search"
               autocomplete="off">
        <button type="submit"><i class="fa fa-search"></i></button>
        <ul id="myUL" class="sub-menu">
            {{range .Artists}}
            <li><a class="scroll" href="ArtistPage/{{.ID}}">{{.Name}} | Artist/Groupe</a></li>
            {{end}}

            {{range .Artists}}
            {{range .Members}}
            <li><a class="scroll" href="ArtistPage/?search={{.}}">
                {{.}} | Members </a></li>
            {{end}}
            {{end}}
        </ul>
    </form>
    <label class="toggle1" for="toggle"> ☰ </label>
    <input type="checkbox" id="toggle">
    <div class="nav-header">
        <a  href="/">Groupie Tracker</a>
        <a href="/#menu">Menu</a>
        <a href="/Artist">Artist</a>
    </div>
</nav>


<script>
    function myFunction() {
        var input, filter, ul, li, a, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        ul = document.getElementById("myUL");
        li = ul.getElementsByTagName("li");
        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("a")[0];
            txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }
</script>

<section class="Titre">
    <div>
        <h2 class="glitch"><span aria-hidden="true">Artist</span>Artist<span aria-hidden="true">Artist</span></h2>
    </div>
    <div class="Imageeffect">

    </div>
</section>

<section id="FiltersSection">
    <div id="FiltersDiv">
        <div id="FilterTitle">
            <label style="text-align: center;" class="checkbox" for="Filter"><h4 style="font-family: Monoton;animation: pulsate 2.5s infinite alternate;">FILTERS</h4></label>
            <input type="checkbox" id="Filter">
            <div class="allfilters">
                <form method="post">
                    <ul>
                        <div>
                            <label for="Artist"><br>Artists</label>
                            <input type="checkbox" id="Artist" name="Artist" value="Artist" style="border-radius: 50%; border: inset;">
                            <label for="Band"><br>Bands</label>
                            <input type="checkbox" id="Band" name="Band" value="Band">
                            <div class="active">
                                <br>
                                <label style="text-transform: none" for="checkbox-members">Band's members number</label>
                                <input type="checkbox" id="checkbox-members" name="checkMembers" value="membersIsCheck">
                                <label for="idmembers" id="membersSlider">2 to 8</label>
                                <input type="range" min="2" max="8" step="1" name="members" id="idmembers" onchange="myInput()">
                                <p id="members"></p>
                            </div>
                        </div>
                        <li>
                            <label style="color: #9DA6B3;border-bottom: inset;border-radius: 0px 10px;text-transform: uppercase;border-color: #702220;padding: 5px;" for="CreationDateStart">Year of creation between: </label><br><br>
                            <input style="padding: 5px 20px; text-transform: none; border-radius: 50px" type="text" min="1960" max="2010" step="5" name="CreationDateStart"
                                   id="CreationDateStart"
                                   placeholder="years start" autocomplete="off">
                            <label for="CreationDateEnd"><br>and : </label><br>
                            <input style="padding: 5px 20px; text-transform: none; border-radius: 50px" type="text" min="1960" max="2010" step="5" name="CreationDateEnd"
                                   id="CreationDateEnd"
                                   placeholder="years end" autocomplete="off">
                        </li>
                        <li>
                            <label style="color: #9DA6B3;border-bottom: inset;border-radius: 0px 10px;text-transform: uppercase;border-color: #702220;padding: 5px;" for="FirstAlbumStart">Released of the First album between: </label><br><br>
                            <input style="padding: 5px 20px; text-transform: none; border-radius: 50px" type="text" name="FirstAlbumStart"
                                   id="FirstAlbumStart"
                                   placeholder="years start" autocomplete="off">
                            <label for="FirstAlbumEnd"><br>and : </label><br>
                            <input style="padding: 5px 20px; text-transform: none; border-radius: 50px" type="text" name="FirstAlbumEnd"
                                   id="FirstAlbumEnd"
                                   placeholder="years end" autocomplete="off">
                        </li>
                    </ul>
                    <button type="submit">submit</button>
                </form>
            </div>
            <h5>{{.Error}}</h5>
        </div>
    </div>
</section>

<script>
    function myInput() {
        var slider = document.getElementById("idmembers");
        var output = document.getElementById("members");
        output.innerHTML = "between 2 and "+ slider.value;
        slider.oninput = function() {
            output.innerHTML = this.value;
        }
    }

</script>

<!--Artist Card With Infomations-->
<main>
    <div class="container">
        {{range .Artists}}
        <div class="box">
            <div class="artist">
                <a href="/ArtistPage/{{.ID}}">
                    <img href="/ArtistPage/{{.ID}}" src={{.Image}}>
                </a>
            </div>
            <div class="content">
                <h2 class="glitch"><span aria-hidden="true"><span aria-hidden="true">{{.Name}}</span>{{.Name}}</span>{{.Name}}
                </h2>
            </div>
            <div class="moreInfo">
                <a href="/ArtistPage/{{.ID}}"> learn more </a>
            </div>
        </div>
        {{end}}
    </div>
</main>

</body>

<div class="footer">
    <hr>
    <div class="end">
        <div class="Link">
            <div class="Web">
                <img class="linkpicture" src="/img/website.png">
            </div>
            <div class="Youtube">
                <img class="linkpicture" src="/img/youtube.png">
            </div>
            <div class="Instagram">
                <img class="linkpicture" src="/img/instagram.png">
            </div>
        </div>
        <div class="Line">
            <hr>
        </div>
        <div class="YNOV-CAMPUS"><h2 class="">Ynov<span style="font-size: 16px;">Campus</span> TOULOUSE</h2></div>
        <div class="AboutUs">
            <h2>About US</h2>
            <p>Justine SEGUIN LE BOULANGER</p>
            <p>Vanessa TESSIER</p>
            <p>Bachelor 1 Informatique</p>
        </div>
        <div class="Work">
            <h2>Work</h2>
            <p>Ennoncé</p>
            <p>API Herokuapp</p>
            <p>API Spotify</p>
            <p>Trello</p>
        </div>
        <div class="Website">
            <h2>Index</h2>
            <p>AllArtist</p>
            <p>RandomArtistPage</p>
        </div>
    </div>
</div>
</html>
