{{define "index"}}
<!--<!doctype html>-->
<html lang="eng">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../css/Index.css">
    <link rel="stylesheet" type="text/css" href="../css/Style.css">
    <link rel="stylesheet" type="text/css" href="../css/navbar.css">
    <link rel="icon" type="image/x-icon" href="/img/favicon1.ico">
    <title>Groupie Tracker</title>
</head>

<body>
<!--section navbar-->
<nav class="topnav">
    <form class="search-container" method="GET" action="/ArtistPage/">
        <input type="text" id="myInput" name="search" onkeyup="myFunction()" placeholder="Search"
               autocomplete="off">
        <button type="submit"><i class="fa fa-search"></i></button>
        <ul id="myUL" class="sub-menu">
            {{range .Artists}}
            <li><a class="scroll" href="ArtistPage/{{.ID}}">{{.Name}} | Artist/Groupe</a></li>
            {{end}}

            {{range .Location.Index}}
            {{range .Locations}}
            <li><a class="scroll" href="ArtistPage/{{.}}" style="text-transform: capitalize">{{.}} | Concert Location</a></li>
            {{end}}
            {{end}}

            {{range .Artists}}
            {{range .Members}}
            <li><a class="scroll" href="/ArtistPage/?search={{.}}">
                {{.}} | Members </a></li>
            {{end}}
            {{end}}
        </ul>
    </form>
    <label class="toggle1" for="toggle"> ☰ </label>
    <input type="checkbox" id="toggle">
    <div class="nav-header">
        <a href="/">Groupie Tracker</a>
        <a href="/#menu">Menu</a>
        <a href="/Artist">All Artists</a>
        <a href="/ArtistPage/{{.Random}}">Random Artist</a>
    </div>
</nav>

<script>
    function myFunction() {
        var input, filter, ul, li, a, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        ul = document.getElementById("myUL");
        li = ul.getElementsByTagName("li");
        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("a")[0];
            txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }
</script>


<!--section1-->
<section class="section1">
    <h1 style="font-family: 'Monoton', cursive; color: #FFFFFF; font-weight: lighter; animation: pulsate 2.5s infinite alternate;" id="Main_Title" class="mainTitre">GROUPIE TRACKER</h1>
    <h4 class="subtitle-page">FOLLOW YOUR FAVORITES ARTISTS AROUND THE WORLD</h4>
    <form class="main_search_bar" method="GET" action="/ArtistPage/">
        <input type="text" id="myInput2" name="search" placeholder="search"
               autocomplete="off">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
</section>

<section class="section2" id="menu">
    <div class="title-section2">
        <h2 style="font-family: 'Monoton', cursive; color: #FFFFFF; font-weight: lighter; " class="artist_Menu">MENU</h2>
        <h4 class="subtitle-menu">FIND ALL INFORMATIONS ABOUT ARTISTS AND CONCERT AND LISTEN YOUR FAVORITES SONGS</h4>
    </div>
    <div class="element_Menu">
        <div class="element">
            <img class="img_menu" src="../css/img/microphone.png">
            <h4>ARTIST INFO</h4>
            <p style="text-transform: none">You can choose your Artist with the search bar or into the list in the page
                Artist.<br>
                Clic and you gonna find all information about your favorites Artists or Group Band</p>
        </div>
        <div class="element">
            <img class="img_menu" src="../css/img/equalizer.png">
            <h4>FILTERS</h4>
            <p style="text-transform: none">You want to find a show close to you, you can search with filters to
                facilitated your search</p>
        </div>
        <div class="element">
            <img class="img_menu" src="../css/img/concert.png">
            <h4>CONCERTS ON MAP</h4>
            <p style="text-transform: none">Look all Shows around the world, and find teh concert of your dreams!! </p>
        </div>
        <div class="element">
            <img class="img_menu" src="../css/img/music-cd.png">
            <h4>LISTEN MUSIC</h4>
            <p style="text-transform: none">
                <b> COMMING SOON </b><br>
                Direct in your Artist Page, you will can listen all your favorites and follow the
                lastest news</p>
        </div>
    </div>
</section>

<!--section 3-->
<section class="section3">
    <div class="box-Artist">
        <h2 style="font-family: 'Passion One', cursive;"><a style="color:white; text-align: center; animation: pulsate 2.5s infinite alternate;" class="link_Artist" href="/Artist">FEATURES ARTISTS</a></h2>
    </div>
    <div class="photo_caroussel">
        <div class="photo_ligne1">
            {{range .Featured}}
            <div class="star">
                <a href="/ArtistPage/{{.ID}}"><img class="image" src={{.Image}} alt="artist"></a>
            </div>
            {{end}}
        </div>
    </div>
</section>

<!--section4-->
<section class="section4">
</section>

<!--section5-->
<section class="Artist_of_week">
    <h2><a href="/ArtistPage/{{.WeekArtist.ID}}">ARTIST OF THE WEEK</a></h2><br><br>
    <div class="Artist_week_box">
        <div class="Art_week_info">
            <h3 style="text-transform: none">This week the artist is </h3>
            <h4>"{{.WeekArtist.Name}}"</h4>
            <br>
            <h3>Concerts dates and locations</h3>
            <br>
            {{ range $key, $value := .WeekArtist.Relations }}
            <h3 class = "ville" style="text-transform: capitalize; font-size: 1.5vmax" >{{$key}}:</h3>
            <p>{{range $value}}{{.}}, {{end}}</p>{{ end }}
        </div>
        <div class="Photo_Art_Week">
            <img style="border-radius: 50%;    box-shadow: 0.05em 0.05em 45px #441A17, -0.05em -0.05em 45px black;border: thick double #702220;"
                 src="{{.WeekArtist.Image}}">
        </div>
    </div>

</section>

</body>

<footer>
    <hr>
    <div class="end">
        <div class="Link">
            <div class="Web">
                <a href="https://ynov-toulouse.com/"><img class="linkpicture" src="/img/website.png"></a>
            </div>
            <div class="Youtube">
                <a href="https://www.youtube.com/channel/UC6AwIUywUQu9tBOhAjd1jtQ"><img class="linkpicture" src="/img/youtube.png"></a>
            </div>
            <div class="Instagram">
                <a href="https://www.instagram.com/toulouse_ynovcampus/"><img class="linkpicture" src="/img/instagram.png"></a>
            </div>
        </div>
        <div class="Line"><hr></div>
        <div class="YNOV-CAMPUS"><a style="text-decoration: none;" href="https://ynov-toulouse.com/"><h2>Ynov<span style="font-size: 16px;">Campus</span> TOULOUSE</h2></a></div>
        <div class="AboutUs">
            <h5>About US</h5>
            <a style="text-decoration: none; color: #B1B1B1;"><b>Justine SEGUIN LE BOULANGER<br></b></a>
            <a style="text-decoration: none; color: #B1B1B1;"><b>Vanessa TESSIER<br></b></a>
            <a style="text-decoration: none; color: #B1B1B1;"><b>Bachelor 1 Informatique</b></a>
        </div>
        <div class="Work">
            <h5>Work</h5>
            <a style="text-decoration: none; color: #B70000;" href="https://ytrack.learn.ynov.com/intra/toulouse/module-tls/groupie-tracker">Project Display</a><br>
            <a style="text-decoration: none; color: #B70000;"href="https://groupietrackers.herokuapp.com/api">Groupie-Trackers API</a><br>
            <a style="text-decoration: none; color: #B70000;"href="https://trello.com/b/XAUiyFZM/groupie-tracker">TRELLO</a>
        </div>
        <div class="Website">
            <h5>Website</h5>
            <a style="text-decoration: none; color: #B70000;"href="/Index">Index</a><br>
            <a style="text-decoration: none; color: #B70000;" href="/Artist">AllArtist</a><br>
            <a style="text-decoration: none; color: #B70000;" href="/ArtistPage/{{.Random}}">Random Artist Page</a>
        </div>
    </div>
</footer>
</html>
{{end}}